---
---
:root {
  --primary-color: #000000;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;

  @media (min-width: 38em) {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #FAFAFA;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #FE5F55;
  font-weight: 300;
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom: #FE5F55 5px solid;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

ul {
  list-style: inside circle;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

ol {
  list-style: inside decimal;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem;
}

hr {
  border: 0;
  border-top: .5px solid #eee;
  border-bottom: .5px solid #eee;
  margin: 1.5rem auto;
}

strong {
  color: #333;
  font-weight: 600;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 2rem 1rem 0;
  color: #999;
  border-left: .5rem solid #FE5F55;

  p:last-child {
    margin-bottom: 0;
  }
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  // word-wrap: break-word;
  background-color: #333333;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.highlight pre {
  margin-bottom: 0;
}

.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}

.gist .markdown-body {
  padding: 15px;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.lead {
  font-size: 1.25rem;
}

.hero {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(139deg,#333333 0,#050517 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-icons {
  width: 36px;
  height: 36px;
  opacity: 0.2;
}
.hero-icon-1 {
  position: absolute;
  top: 100px;
  left: 12%;
}
@media (max-width: 650px) {
  .hero-icon-1 {
    top: 150px;
  }
}
.hero-icon-2 {
  position: absolute;
  top: 180px;
  left: 44%;
}
.hero-icon-3 {
  position: absolute;
  top: 275px;
  left: 75%;
}
@media (max-width: 650px) {
  .hero-icon-3 {
    top: 235px;
  }
}
.hero-icon-4 {
  position: absolute;
  top: 450px;
  left: 6%;
}
.hero-icon-5 {
  position: absolute;
  top: 600px;
  left: 85%;
}
@media (max-width: 650px) {
  .hero-icon-5 {
    top: 400px;
    left: 35%;
  }
}
.hero-icon-6 {
  position: absolute;
  top: 363px;
  left: 69%;
}
@media (max-width: 650px) {
  .hero-icon-6 {
    top: 380px;
  }
}
.hero-icon-7 {
  position: absolute;
  top: 500px;
  left: 22%;
}
.hero-icon-8 {
  position: absolute;
  top: 100px;
  left: 70%;
}
@media (max-width: 650px) {
  .hero-icon-8 {
    top: 140px;
  }
}
.hero-icon-9 {
  position: absolute;
  top: 550px;
  left: 35%;
}
@media (max-width: 650px) {
  .hero-icon-9 {
    left: 22%;
  }
}
.hero-icon-10 {
  position: absolute;
  top: 225px;
  left: 90%;
}
@media (max-width: 650px) {
  .hero-icon-10 {
    top: 475px;
  }
}
.hero-icon-11 {
  position: absolute;
  top: 450px;
  left: 60%;
}
.hero-down-button {
  content: '';  
  position: absolute;
  bottom: 5%;
  left: 49%;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(./../img/arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 20px;
  transition: all 1s ease;
}
@media (max-width: 650px) {
  .hero-down-button {
    left: 42%;
  }
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.hero-down-button:hover {
	animation: bounce 1s;
}
.hero-title {
  font-size: 3.5em;
  border: #FE5F55 solid 5px;
  color: #FE5F55;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 200;
}
@media (max-width: 650px) {
  .hero-title {
    font-size: 2.5em;
  }
}
.hero-strong {
  font-weight: 600;
  color: #FE5F55;
}

.masthead {
  background: linear-gradient(150deg,#FE5F55,#FE5F55);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 3.5em;
  

  @media (max-width: 650px) {
    height: 7.5em;
  }
  .masthead-title {
    display: flex;
    align-items: center;
    height: 65px;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  &-title {
    a {
      font-weight: 300;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0 0 .3em;
      transition: all .2s ease;
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

      @media (min-width: 450px) {
        padding: 0 0 0 1em;
      }
    }
    a:hover,
    a:focus {
      border-bottom: none;
    }
  }

  .masthead-nav {
    position: fixed;
    right: 43vw;
    top: 16px;

    @media (max-width: 650px) {
      padding: 4em 0 0 0;
      position: relative;
      right: 4em;
    }

    a {
      color: #000000;
      font-weight: 300;
      text-transform: lowercase;
      transition: all .2s ease;

      &:hover,
      &:focus,
      &:active {
        color: #000000;
        text-decoration: none;
        border-bottom: #333333 5px solid;
      }
      + a {
        margin-left: 1rem;
      }      
    }
  }
  .active {
    color: var(--primary-color)!important;
    text-decoration: none;
  }
  .masthead-right-nav {
    .right-menu-box {
      position: fixed;
      top: 10px;
      right: 10px;
    }
    .right-menu {
      padding: 0 .3em 0 0;
      display: flex;
      flex-direction: row;

      @media (min-width: 450px) {
        padding: 0 1em 0 0;
      }
  
        .socials {
          display: flex;
        }
          
        .socials a {
          width: 1.5rem;
          height: 2.5rem;
          margin-left: 0.5em;
          display: flex;
          text-indent: -9999px;
          background-repeat: no-repeat;
          transition: all .2s ease;

          &:hover {
            border-bottom: #333333 5px solid;
          }
      }
    }
  }
}

.image-box {
    display: flex;
    position: relative;
    z-index: -999;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: -7em 0 1em -20vw;
    opacity: 0.8;
    background-repeat: no-repeat;

  figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3rem;
    color: #000000;
    font-weight: 900;
    z-index: 3;
  }
}

.image-box::after {
  content: '';
  background-image: linear-gradient(100deg,rgba(0, 0, 0, .8) 0, transparent 30%, transparent 20%, rgba(0, 0, 0, .8));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}


.container {
  padding: 4em 0 0 0;
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  max-width: 60vw;
}
@media (max-width: 650px) {
  .container {
    padding: 8em 0 0 0;
  }
}
.link-talks {
  text-decoration: underline;
}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    margin-bottom: .25rem;
  }
  &-date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.list {
  height: 80vh;
  &-post-title {
    margin-bottom: .25rem;

    a {
      color: #333;
      font-weight: bold;
      transition: all .2s ease;

      &:hover,
      &:focus {
        color: var(--primary-color);
        text-decoration: none;
      }
    }
  }
  &-post-date {
    margin-bottom: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}
@media (max-width: 650px) {
  .list {
    height: 70vh;
  }
}
.projects-list {
  a {
    color: #333;
  }
}

.highlight .hll { background-color: #333333 }
.highlight .c { color: #6272a4; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #ff79c6; font-weight: bold } /* Keyword */
.highlight .o { color: #ff79c6; font-weight: bold } /* Operator */
.highlight .cm { color: #6272a4; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #6272a4; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #6272a4; font-style: italic } /* Comment.Single */
.highlight .cs { color: #99996272a499; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #ff79c6; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #ff79c6; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #8be9fd } /* Generic.Heading */
.highlight .gi { color: #ff79c6; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #8be9fd } /* Generic.Output */
.highlight .gp { color: #8be9fd } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #ff79c6; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #ff79c6; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #ff79c6; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #ff79c6; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #ff79c6; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #bd93f9 } /* Literal.Number */
.highlight .s { color: #f1fa8c } /* Literal.String */
.highlight .na { color: #50fa7b } /* Name.Attribute */
.highlight .n { color: #8be9fd }
.highlight .nb { color: #bd93f9 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #8be9fd } /* Name.Namespace */
.highlight .nt { color: #ff79c6 } /* Name.Tag */
.highlight .nx { color: #50fa7b } /* Literal.Number */
.highlight .p { color: #ffffff } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #ff79c6; font-weight: bold } /* Operator.Word */
.highlight .w { color: #8be9fd } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #f1fa8c } /* Literal.String.Backtick */
.highlight .sc { color: #f1fa8c } /* Literal.String.Char */
.highlight .sd { color: #f1fa8c } /* Literal.String.Doc */
.highlight .s2 { color: #f1fa8c } /* Literal.String.Double */
.highlight .se { color: #f1fa8c } /* Literal.String.Escape */
.highlight .sh { color: #f1fa8c } /* Literal.String.Heredoc */
.highlight .si { color: #f1fa8c } /* Literal.String.Interpol */
.highlight .sx { color: #f1fa8c } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #f1fa8c } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */