<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98874027-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-98874027-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="Gefy Marcos` Personal Page" content="I write about software development.">
    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Changa|Source+Sans+Pro:300,300i,600">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div>
      <header class="masthead logo-name">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/"><strong>Gefy</strong>Marcos</a>
        </h1>
        <nav class="masthead-nav">
          {% for item in site.pages %}
            {% if item.title contains "" %}
              <a 
                class="{% if item.url == page.url %}active{% endif %}"
                href="{{ item.url }}"
              >{{ item.title }}</a>
            {% endif %}
          {% endfor %}
        </nav>
        <nav class="masthead-right-nav">
          <div class="right-menu-box">
            <ul class="right-menu">
              <li class="socials">
                <a class="socials-github" rel="noopener" href="https://www.github.com/gefymarcos" target="_blank">
                  <img src="/img/github.svg" alt="Logo do github" />
                </a>
              </li>
              <li class="socials">
                <a class="socials-twitter" rel="noopener" href="https://www.twitter.com/gefymarcos" target="_blank">
                  <img src="/img/twitter.svg" alt="Logo do twitter" />
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="container">
        {% if page.description %}
        {% endif %}
        {{ content }}
      </div>
    </div>
  </body>

